footer {
    background: rgb(34, 34, 34);
    padding: 50px;
}

footer .end {
    margin-top: 30px;
    text-align: center;
}

footer .end .title {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: rgb(231, 138, 51);
}

footer .links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 25px;
    font-size: 20px;
}


footer .links a {
    color: rgb(231, 138, 51);
}